
main{
    align-items: center;
    display: flex;
    justify-content: center;
}

.contest-page:hover, .category-page:hover{
    cursor: pointer;
    background: gray;
}

.dp:hover,.greedy:hover,.graph:hover,.math:hover,.string:hover,.other:hover{
    cursor: pointer;
    background-color: #4e4e4e;
    border-radius: 4px;
}

/*替換後*/

ul, li{
    list-style-type: none;
    padding: 0px;
}

.problem-wrap{
    width: 500px;
    min-height: 500px;
    border: 2px solid #7b7878;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.problem-list{
    line-height: 1.6em;
    color: black;
    border-bottom: 2px solid #7b7878;
}

.problem-list:hover{
    cursor: pointer;
    background: gray;
}

.wrap{
    align-items: center;
    display: flex;
    margin-left: 5px;
}

.probtitle{
    margin-left: 50px;
}
